---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AwpakAI builder</title>
	</head>
	<body class="bg-white border dark:bg-gray-800 h-screen grid grid-rows-[auto_1fr]">
		<!--
		<h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white p-2 text-center">AwpakAI builder</h1>
		 -->
        <slot />
	</body>
</html>