---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AwpakAI</title>
	</head>
	<body 
		class="bg-white dark:bg-gray-800 h-screen font-mono text-gray-900 dark:text-white"
	>
        <slot />
		<Analytics />
	</body>
</html>