@import "tailwindcss";

/* @import "flowbite/src/themes/default";
@plugin "flowbite/plugin"; */

:root {
  color-scheme: light dark;
}

b, strong {
    color : light-dark(#861043, #fff085);
}

.mdo h1
{
  font-size: var(--text-3xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height));
}

.mdo h2
{
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
  padding-bottom: calc(var(--spacing) * 1);
  padding-top: calc(var(--spacing) * 4);
  
}

.mdo h3
{
  font-size: var(--text-xl);
  line-height: var(--tw-leading, var(--text-xl--line-height));
  padding-bottom: calc(var(--spacing) * 1);
  padding-top: calc(var(--spacing) * 4);
}

.mdo h1, .mdo h2, .mdo h3, .mdo h4, .mdo h5, .mdo h6 {
  
  color: var(--color-purple-950);
  @media (prefers-color-scheme: dark) {
      color: var(--color-purple-300);
  }

  --tw-font-weight: var(--font-weight-bold);
  font-weight: var(--font-weight-bold);
  text-wrap: balance;
}

.mdo a
{
  color: var(--color-yellow-700);

  @media (prefers-color-scheme: dark) {
        color: var(--color-yellow-500);
  }
}

.mdo a:hover
{
  --tw-font-weight: var(--font-weight-bold);
  font-weight: var(--font-weight-bold)
}

.mdo ul
{
  padding-inline-start: calc(var(--spacing) * 5);
  padding-bottom: calc(var(--spacing) * 2);
  padding-top: calc(var(--spacing) * 1);
  list-style-type: disc;
}

.mdo code
{
  background-color: var(--color-gray-100);
  @media (prefers-color-scheme: dark) {
      background-color: var(--color-gray-700);
  }
  color: var(--color-gray-800);
  @media (prefers-color-scheme: dark) {
      color: var(--color-gray-100);
  }

  font-size: var(--text-sm) /* 0.875rem = 14px */;
  line-height: var(--tw-leading, var(--text-sm--line-height));

  padding: calc(var(--spacing) * 1);
  border-radius: var(--radius-md);
}

.box .box
{
  margin-top : calc(var(--spacing) * 2);
}

p, li {
  text-wrap: pretty;
}