@import "tailwindcss";

/* @import "flowbite/src/themes/default";
@plugin "flowbite/plugin"; */

:root {
  color-scheme: light dark;
}

b {
    color : light-dark(#861043, #fff085);
}

.box .box
{
  margin-top : calc(var(--spacing) * 2);
}

p {
  text-wrap: pretty;
}